*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #051305;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #123235e7;
    padding: 20px;
    border-radius: 10px;
    box-shadow:-3px -3px 15px #ffffff;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow:-3px -3px 10px #ffffff;
    background: transparent;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 35px;
    border-radius: 5px;
    box-shadow: -10px -10px 10px #ffffff33,
                 10px 10px 10px #0000001a,
                inset -5px -5px 5px #ffffff33,
                inset 5px 5px 5px #0000001a,
    
}

form input.equal {
    width: 145px;
}